# Dependencies
node_modules/

# Firebase service account file only
config/firebase-service-account.json

config/firebase-service-account.json


config/

# Environment variables
.env

# Logs
logs/
*.log

# Local data
data/
config/

# IDE and OS
.vscode/
.DS_Store
Thumbs.db
